<!DOCTYPE HTML>
<html lang="en" >
    <head>

        {%- include head.html -%}

        {% assign reversed_posts = site.posts | reverse %}

        {% if reversed_posts %}
            <link rel="next" href="{{site.baseurl}}{{reversed_posts.first.url}}" />
        {% endif %}
    </head>
    <body>
        <div class="book">

            {%- include toc-date.html -%}
<!--            {%- include sidebar.html -%}-->

            <div class="book-body">
                <div class="book-header" role="navigation">
                    <!-- Title -->
                    <h1 class="description">
                        <i class="fa fa-circle-o-notch fa-spin"></i>

                    </h1>
                </div>

                <div class="body-inner">
                    {%- include body.html -%}

                </div>
            </div>

            <script>
            var gitbook = gitbook || [];
            gitbook.push(function() {
                gitbook.page.hasChanged({%- include metadata-home.json.tpl -%});
            });
            </script>
        </div>

        {%- include footer.html -%}

    </body>
</html>